# **1019 4110E231**

For loops discussion and Exercise

# ***For Loops***

**Example 1:** Print each fruit in a fruit list:

In [ ]:
fruits = ["avocado", "blueberry", "cantaloupe"]
for x in fruits:
  print(x)

apple
banana
cherry

**Example 2:** Loop through the letters in the word "cantaloupe":

In [ ]:
for x in "cantaloupe":
  print(x)

c
a
n
t
a
l
o
u
p
e

**Example 3:** Exit the loop when x is "banana":

In [ ]:
fruits = ["avocado", "blueberry", "cantaloupe"]
for x in fruits:
  print(x)
  if x == "blueberry":
    break

avocado
blueberry

In [ ]:
fruits = ["avocado", "blueberry", "cantaloupe"]
for x in fruits:
  if x == "blueberry":
    break
  print(x)

avocado

# ***The continue Statement***

**Example 4:** Do not print blueberry:

In [ ]:
fruits = ["avocado", "blueberry", "cantaloupe"]
for x in fruits:
  if x == "blueberry":
    continue
  print(x)

avocado
cantaloupe

# ***The range() Function***

**Example 5:** Using the range() function:

In [ ]:
for x in range(8):
  print(x)

0
1
2
3
4
5
6
7

Using the start parameter:

In [ ]:
for x in range(4, 8):
  print(x)

4
5
6
7

Increment the sequence with 3 (default is 1):

In [ ]:
for x in range(2, 21, 3):
  print(x)

2
5
8
11
14
17
20

# ***Else in For Loop***

**Example 6:** Print all numbers from 0 to 5, and print a message when the loop has ended:

In [ ]:
for x in range(8):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
Finally finished!

Break the loop when x is 3, and see what happens with the else block:

In [ ]:
for x in range(8):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

**Example 7:** This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

***CORRECT ⬇***

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

**Example 8:** Use the correct short hand syntax to put the following statement on one line:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

***CORRECT ⬇***

In [ ]:
if 5 > 2: print("Five is greater than two!")

Five is greater than two!

**Example 9:** Use the correct short hand syntax to write the following conditional expression in one line:

In [ ]:
if 5 > 2:
  print("Yes")
else
  print("No")

***CORRECT ⬇***

In [ ]:
print("Yes") if 5 > 2 else print("No")

Yes

# ***Nested Loops***

**Example 10:** Print each adjective for every fruit:

In [1]:
adj = ["green", "small", "sweet"]
fruits = ["avocado", "blueberry", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

green avocado
green blueberry
green cherry
small avocado
small blueberry
small cherry
sweet avocado
sweet blueberry
sweet cherry

# ***The pass Statement***

**Example 11:**

In [5]:
for x in [0, 1, 2]:
  pass

# ***`EXERCISES`***

**Exercise 1:** Loop through the items in the fruits list.

In [6]:
fruits = ["avocado", "blueberry", "cantaloupe"]
for x in fruits:
  print(x)

avocado
blueberry
cantaloupe

**Exercise 2:** In the loop, when the item value is "blueberry", jump directly to the next item.

In [7]:
fruits = ["avocado", "blueberry", "cantaloupe"]
for x in fruits:
  if x == "blueberry":    
    continue
  print(x)

avocado
cantaloupe

**Exercise 3:** Use the range function to loop through a code set 6 times.

In [8]:
for x in range(6):
  print(x)

0
1
2
3
4
5

**Exercise 4:** Exit the loop when x is "blueberry".

In [11]:
fruits = ["avocado", "blueberry", "cantaloupe"]
for x in fruits:
  if x == "blueberry":    
    break
  print(x)

avocado